.md-typeset h1 {
  color: var(--md-default-fg-color);
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color: var(--md-accent-fg-color);
}

.md-nav__title {
  color: var(--md-default-fg-color);
  display: block;
  font-weight: 700;
  overflow: hidden;
  padding: 0 0.6rem;
  text-overflow: ellipsis;
}

.md-nav__item--section>.md-nav__link[for] {
  color: var(--md-default-fg-color);
}

tr:has(.rvsteel-core-io-table) {
  background-color: #f5f5f5;
}

[data-md-color-primary=black] {
  --md-primary-fg-color: hsla(var(--md-hue), 15%, 9%, 1);
  --md-primary-fg-color--light: hsla(var(--md-hue), 15%, 9%, 0.54);
  --md-primary-fg-color--dark: hsla(var(--md-hue), 15%, 9%, 1);
  --md-primary-bg-color: hsla(var(--md-hue), 15%, 100%, 1);
  --md-primary-bg-color--light: hsla(var(--md-hue), 15%, 100%, 0.7);
  --md-typeset-a-color: #e92063;
}

.md-search__input {
  background: #fff3;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: .1em;
}