.md-typeset h1 {
  color: var(--md-default-fg-color);
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color: var(--md-accent-fg-color);
}

.md-nav__title {
  color: var(--md-default-fg-color);
  display: block;
  font-weight: 700;
  overflow: hidden;
  padding: 0 0.6rem;
  text-overflow: ellipsis;
}

.md-nav__item--section>.md-nav__link[for] {
  color: var(--md-default-fg-color);
}

tr:has(.rvsteel-core-io-table) {
  background-color: #f5f5f5;
}


:root {
  --md-primary-fg-color: #4051b5;
  --md-primary-fg-color--light: #333333;
  --md-primary-fg-color--dark: #000000;
  --md-accent-fg-color: #526cfe;
  --md-accent-fg-color--light: #333333;
  --md-accent-fg-color--dark: #000000;
}

.md-typeset .md-button {
  border: 0.1rem solid;
  border-radius: 0.1rem;
  color: #4051b5;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.625em 2em;
  transition: color 125ms, background-color 125ms, border-color 125ms;
}

.md-typeset a.md-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-primary-bg-color);
}

.md-typeset .md-button--primary {
  background-color: #4051b5;
  border-color: #4051b5;
  color: var(--md-primary-bg-color);
}

.md-typeset a.md-button--primary:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-primary-bg-color);
}

.md-typeset a {
  color: #526cfe;
  word-break: break-word;
}

.md-typeset a:hover {
  color: #8b9cfc;
  word-break: break-word;
}

.md-typeset p>code,
.md-typeset td>code,
.md-typeset td>strong>code,
.md-typeset p>strong>code {
  /*color: #3b53df;*/
  background-color: transparent;
}

/*.md-search__input {
  background: #fff2;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: .1em;
}*/