IO_LOC  "clock" 4;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "reset" 88;
IO_PORT "reset" IO_TYPE=LVCMOS33;

IO_LOC  "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
