th, td {
  padding: 10px;
}

table {
  margin-bottom: 20px;
}

img.logo {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    border-radius: 0;
    border: 0px;
    max-width: 100%;
    background: transparent;
    margin-top: .85em;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #1A1A1A;
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em;
}
